@{
    ViewData["Title"] = "Apply";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    </head>
    <body>
    <div class="elementor-widget-container" style="text-align:center;color:maroon">
        <h1 class="elementor-heading-title elementor-size-default">Government Jobs – Get Govt Jobs Alert Daily ⚡️</h1>
    </div>
    <div style="color:black;font-size:20px">
        <p>GovtJobsAlert.In Provide Updates Related To Latest Government Jobs. Visit Daily To Check Free Job Alert In Govt Sector & To Read Our Career Guidance Articles </p>
    </div><hr />
    <div class="container">
    <div class="row">        
   <table>
    <tr>
        <td><p style="font:bold;color:red;font-size:20px">Revised Final Vacancies for Combined Graduate Level Examination, 2022 (as on 09.05.2023)</p></td>
           <td>
                <a href="@Url.Action("BasicDetails", "Registration")"><img src="~/img/animated-click-here-sign-and-button-image-0009.gif" style="height:90px;width:90px" /></a>
           </td>
    </tr>
    <tr>
        <td><p style="font:bold;color:red;font-size:20px">Notice of Combined Higher Secondary (10+2) Level Examination, 2023</p></td>
            <td>
               <a href="@Url.Action("BasicDetails", "Registration")"><img src="~/img/animated-click-here-sign-and-button-image-0009.gif" style="height:90px;width:90px" /></a>
            </td>
     </tr>
         <tr>
             <td>
                  <p style="font:bold;color:red;font-size:20px">Constable (GD) in CAPFs,SSF and Rifleman (GD) in  Assam Rifles and Sepoy in Narcotics Control Bureau Examination, 2023-reg.</p>
                    </td>
                    <td>
                        <a href="@Url.Action("BasicDetails", "Registration")"><img src="~/img/animated-click-here-sign-and-button-image-0009.gif" style="height:90px;width:90px" /></a>
             </td></tr>
         <tr>
             <td>
                <p style="font:bold;color:red;font-size:20px">Combined Graduate Level Examination, 2023</p>
                </td>
                 <td>
                        <a href="@Url.Action("BasicDetails", "Registration")"><img src="~/img/animated-click-here-sign-and-button-image-0009.gif" style="height:90px;width:90px" /></a>
         </td></tr>
         <tr>
            <td>
                <p style ="font:bold;color:red;font-size:20px">
                      MTS & Havaldar (CBIC & CBN) Examination, 2023.
               </p></td>
                    <td>
                        <a href="@Url.Action("BasicDetails", "Registration")"><img src="~/img/animated-click-here-sign-and-button-image-0009.gif" style="height:90px;width:90px" /></a>
                    </td></tr>
     </table>
     </div>
     </div>
     
    </body>
    </html>
